kube-prometheus-stack:
  fullnameOverride: prometheus

  crds:
    enabled: false

  prometheus:
    prometheusSpec:
      image:
        repository: quay.io/prometheus/prometheus
        tag: latest
        pullPolicy: IfNotPresent
      retention: 15d
      serviceMonitorSelectorNilUsesHelmValues: false

  grafana:
    enabled: false

  alertmanager:
    enabled: false

  nodeExporter:
    enabled: true

  kubeStateMetrics:
    enabled: true
