alertmanager:
  enabled: true
server:
  image:
    repository: prom/prometheus
    tag: v2.50.0
    pullPolicy: IfNotPresent
  replicas: 1
  persistentVolume:
    enabled: true
    size: 5Gi
  ingress:
    enabled: true
    hosts:
      - prometheus.curtfamily.org
