kube-prometheus-stack:
  fullnameOverride: prometheus

  crds:
    enabled: true

  prometheus:
    prometheusSpec:
      retention: 15d
      serviceMonitorSelectorNilUsesHelmValues: false

  grafana:
    enabled: false

  alertmanager:
    enabled: false

  nodeExporter:
    enabled: true

  kubeStateMetrics:
    enabled: true
