replicaCount: 1

adminUser: admin
adminPassword:
  existingSecret: grafana-admin
  key: admin-password

persistence:
  enabled: true
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  size: 5Gi

ingress:
  enabled: false

volumeMounts:
  - mountPath: /var/lib/grafana
    name: grafana-storage

volumes:
  - name: grafana-storage
    persistentVolumeClaim:
      claimName: grafana-pvc

image:
  repository: grafana/grafana
  tag: latest
  pullPolicy: IfNotPresent

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-prometheus.monitoring.svc.cluster.local:9090
        isDefault: true
