replicaCount: 1
adminUser: admin
adminPassword:
  existingSecret: grafana-admin
  key: admin-password
ingress:
  enabled: false
grafana:
  persistence:
    enabled: true
    storageClassName: local-path
    size: 5Gi
image:
  repository: grafana/grafana
  tag: latest
  pullPolicy: IfNotPresent
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-prometheus.monitoring.svc.cluster.local:9090
        isDefault: true
