apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
data:
  config.yaml: |
    tunnel: {{ .Values.tunnel.id }}
    credentials-file: /etc/cloudflared/{{ .Values.tunnel.id }}.json
    no-autoupdate: {{ .Values.config.noAutoupdate }}
    loglevel: {{ .Values.config.logLevel }}

    ingress:
{{- range .Values.ingress }}
      - hostname: {{ .hostname | default "" }}
        service: {{ .service }}
{{- end }}
