apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: {{ .Release.Namespace }}
data:
  config.yaml: |
    tunnel: {{ .Values.tunnel.id }}
    credentials-file: /etc/cloudflared/{{ .Values.tunnel.id }}.json

    ingress:
{{- range .Values.ingressHosts }}
      - hostname: {{ .hostname }}
        service: http://{{ .service }}:{{ .port }}
{{- end }}
      - service: http_status:404
