apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:curtiscacti/infra.git
    targetRevision: main
    path: platform/prometheus
    helm:
      valueFiles:
        - values.yaml
      skipCrds: false
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
